<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.painbank.deeplinks"
        versionCode = "2"
        version     = "1.0.1"
        phonegap-version = "3.6.3">
    <!-- versionCode is optional and Android only -->

    <name>Deeplink Demonstration</name>

    <description>
        This app demonstrates how mobile deeplinks are expected to work.  Both
        incoming and outgoing.
    </description>

    <author href="https://www.painbank.com" email="painbank@gmail.com">
        Richard Elswick
    </author>

    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="cli-5.1.1" />

    <gap:plugin name="nl.x-services.plugins.launchmyapp" version="3.2.0">
      <!-- used for deep linking from google search into my app -->
      <!-- from: https://build.phonegap.com/plugins/844 -->
      <!-- access this application deeplinks with: deeplinks:// -->
      <param name="URL_SCHEME" value="deeplinks" />
    </gap:plugin>
    <gap:plugin name="com.borismus.webintent" version="3.0.0" />

   <feature name="http://api.phonegap.com/1.0/network" />

   <access origin="fb:*" launch-external="yes" />
   <access origin="twitter:*" launch-external="yes" />
   <access origin="yelp:*" launch-external="yes" />

</widget>
