<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.painbank.deeplinks"
        versionCode = "1"
        version     = "1.0.0"
        phonegap-version = "3.6.3">
    <!-- versionCode is optional and Android only -->

    <name>Deeplink Demonstration</name>

    <description>
        This app demonstrates how mobile deeplinks are expected to work.  Both
        incoming and outgoing.
    </description>

    <author href="https://www.painbank.com" email="painbank@gmail.com">
        Richard Elswick
    </author>

    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.1.0" />

    <gap:plugin name="nl.x-services.plugins.launchmyapp" version="3.2.0">
      <!-- used for deep linking from google search into my app -->
      <!-- from: https://build.phonegap.com/plugins/844 -->
      <!-- access this application deeplinks with: deeplinks:// -->
      <param name="URL_SCHEME" value="deeplinks" />
    </gap:plugin>

   <feature name="http://api.phonegap.com/1.0/network" />

</widget>
